body {
	color: #333;
	font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	font-size: 18px;
}
section {
	margin: 10px;
	/* padding: 10px; */
	font-size: 10px;
}
.foo  .bar > .baz + .qux ~ .quux:before {
	color: #ccc;
	font-size: 12px;
}
#foo [src] {
	margin: 10px;
	font-size: 16px;
}
/* Lowest Cohesion Selecotor */
hr {
	display: block;
	float: left;
	margin: 10px 0;
	padding: 0 !important;
	height: 1px;
	border: 0;
	border-top: 1px solid red;
}
@media (max-width: 600px) {
  .media-queries-01 {
    display: none;
  }
  * {
    display: none;
  }
  .media-queries-02 {
    display: none;
  }
}