<h1 class="headline"><a href="https://github.com/t32k/stylestats">StyleStats</a></h1>

<table class="data">
{{#each this}}
  <tr class="data__row">
    <th>{{@key}}</th>
    <td>{{this}}</td>
  </tr>
{{/each}}
</table>
