p.c-meta
  b Published: 
  span #{ published }
  br
  b Paths: 
  span #{ paths.join(',') }
  br
  b Generator: 
  span
    a(href="https://github.com/t32k/stylestats") t32k/stylestats // GitHub
table.c-data
  tr.c-data-s-header
    th Metrics
    th Result
  - each val, index in stats
    tr.c-data-s-row
      td #{ Object.keys(val) }
      td #{ val[Object.keys(val)] }