@import 'bar'

// Variables
font-size = 14px

body
	font font-size Arial, sans-serif

// Mixins
border-radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n

form input[type=button]
	border-radius(5px)

// Functions
add(a, b)
	a + b

body 
	padding add(10px, 5)

// Iteration
body
	for num in 1 2 3
		foo num